@model VisitorManagementSystem.Models.User

<h2>Create Admin</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.FullName)
        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NIC)
        @Html.TextBoxFor(m => m.NIC, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>

    <br />

    <button type="submit" class="btn btn-success">
        Create Admin
    </button>
}