@model VisitorManagementSystem.Models.Menu

<h2>Create Menu</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>Select Role</label>
        <div class="form-group">
            <label>Roles</label>

            <div>
                <label>
                    <input type="checkbox"
                           name="Roles"
                           value="Admin" />
                    Admin
                </label>
            </div>

            <div>
                <label>
                    <input type="checkbox"
                           name="Roles"
                           value="User" />
                    User
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DisplayName)
        @Html.TextBoxFor(
            m => m.DisplayName,
            new { @class = "form-control" }
        )
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Controller)
        @Html.TextBoxFor(
            m => m.Controller,
            new { @class = "form-control" }
        )
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Action)
        @Html.TextBoxFor(
            m => m.Action,
            new { @class = "form-control" }
        )
    </div>

    <div class="form-group">
        <label>Parent Menu</label>
        @Html.DropDownListFor(
            m => m.ParentMenuId,
            new SelectList(
                ViewBag.ParentMenus,
                "MenuId",
                "DisplayName"
            ),
            "-- Top Level Menu --",
            new { @class = "form-control" }
        )
    </div>

    <br />

    <button type="submit" class="btn btn-primary">
        Create Menu
    </button>
}